{% extends "base.html" %}
{% block head %}
    <title>Marks</title>
{% endblock %}

{% block body %}

    <h3>
    	Marks
		[<a href="{% url 'mark-create' %}">Add</a>]
    </h3>
    <table class="table">
        <thead>
            <th scope="col">Rank</th>
            <th scope="col">Name</th>
            <th scope="col">Operations</th>
        </thead>
        <tbody>
            {% for mark in object_list %}
                <tr>
                    <td>
                        {{ mark.rank }}
                    </td>
                    <td>
                        {{ mark.name }}
                    </td>
                    <td>
                        <a href="{% url 'mark-update' mark.id %}">Update</a> | <a href="{% url 'mark-delete' mark.id %}">Delete</a>
                    </td>
                </tr>
            {% empty %}
                No marks yet.
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
