{% extends "base.html" %}
{% block head %}
    <title>Alternatives</title>
{% endblock %}

{% block body %}

    <h3>
        Alternatives
        [<a href="{% url 'alternative-create' %}">Add</a>]
    </h3>
    <table class="table">
        <thead>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Operations</th>
        </thead>
        <tbody>
            {% for alternative in object_list %}
                <tr>
                    <td>
                        {{ forloop.counter }}
                    </td>
                    <td>
                        {{ alternative.name }}
                    </td>
                    <td>
                        <a href="{% url 'alternative-update' alternative.id %}">Update</a> | <a href="{% url 'alternative-delete' alternative.id %}">Delete</a>
                    </td>
                </tr>
            {% empty %}
                No alternatives yet.
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
