{% extends "base.html" %}
{% block head %}
    <title>LPRs</title>
{% endblock %}

{% block body %}

    <h3>
    	LPRs
		[<a href="{% url 'lpr-create' %}">Add</a>]
    </h3>
    <table class="table">
        <thead>
            <th scope="col">Rank</th>
            <th scope="col">Name</th>
            <th scope="col">Operations</th>
        </thead>
        <tbody>
            {% for lpr in object_list %}
                <tr>
                    <td>
                        {{ lpr.rank }}
                    </td>
                    <td>
                        {{ lpr.name }}
                    </td>
                    <td>
                       <a href="{% url 'compare-lprs' lpr.id %}">Compare LPR</a> | <a href="{% url 'lpr-update' lpr.id %}">Update</a> | <a href="{% url 'lpr-delete' lpr.id %}">Delete</a>
                        | <a href="{% url 'start-incidence' lpr.id %}">Compare alternatives</a> | <a href="{% url 'incidence-matrix' lpr.id %}">Incidence matrix</a>
                    </td>
                </tr>                	
            {% empty %}
                No LPRs yet.
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
